doctype html
html(lang="en")

    head
        block title
            title Login

        //- css
        include ../includes/_head.pug

    body
        div
            block content

        //- javascript
        include ../includes/_javascript.pug

        //- Page specific javascript
        block specific-js